
.data-container {
    width: 80vw;
    margin: 0 auto;
}


.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-popup input[type="text"] {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.circle-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    /* 设置按钮颜色 */
    border: none;
    /* 移除边框 */
    cursor: pointer; /* 设置默认光标为指针 */
    transition: transform 0.3s ease-in-out;
    /* 设置动画过渡 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 2s ease-in-out; /* 添加过渡动画 */
}

.circle-button:hover {
    transform: scale(1.1);
    /* 悬浮时放大按钮 */
    animation: gradient-animation 4s linear infinite; /* 添加动画 参数1: 动画名称 参数2: 动画持续时间 参数3: 动画类型 */
}

.circle-button.hidden {
    display: none;
}

@keyframes gradient-animation {
    0% { background: linear-gradient(to right, #ff5f6d, #ffc371); }
    25% { background: linear-gradient(to right, #ff8c71, #ffb997); }
    50% { background: linear-gradient(to right, #ffc371, #ffb997); }
    75% { background: linear-gradient(to right, #ff8c71, #ff5f6d); }
    100% { background: linear-gradient(to right, #ff5f6d, #ffc371); }
  }


.icon {
    width: 100px;
    height: 100px;
    color: #4CAF50;
}